<#include "header.html" />

<DIV class="g-doc" id="settleAccount">
<DIV class="m-tab m-tab-fw m-tab-simple f-cb">
<H2>已添加到购物车的内容</H2></DIV>
<TABLE class="m-table m-table-row n-table g-b3" id="newTable">
 <tbody>
    <tr>
        <th>内容名称</th><th>数量</th><th>价格</th>
    </tr>


 </tbody>
</TABLE>

<DIV id="act-btn">
     <BUTTON class="u-btn u-btn-primary" id="back">退出</BUTTON>
	 <BUTTON class="u-btn u-btn-primary" id="Account">购买</BUTTON>
</DIV>
</DIV>
<DIV class="n-foot">
<P>版权所有：网易云课堂<A 
href="http://mooc.study.163.com/smartSpec/detail/85002.htm">Java开发工程师(Web方向)</A>微专业团队</P></DIV>
<SCRIPT src="../scripts/global.js" type="text/javascript"></SCRIPT>

<SCRIPT src="../scripts/settleAccount.js" type="text/javascript"></SCRIPT>
 </BODY></HTML>
